body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("/images/fashion.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login-form {
      margin-top: 200px;
      padding: 15px;
      padding-bottom: 50px;
  }

  .logo-text {
    font-family: 'Pacifico', cursive;
    margin-left: 5px;
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .center {
    margin: auto;
    padding: 10px;
  }

  .sb-button {
      background-color: #e3b04b;
      width: 200px;
  }

  .login-form-content {
      padding: 20px;
  }